body{
 background-color: lightgray;
}

.head {
    color: red;
    background-color: rgb(253, 253, 253);
    border-color: rgb(8, 8, 8);
    border-width: 2px;
    border-style: solid;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration:underline;
    font-size: 17px;
    padding-bottom: 9px;
}

.body {
border-color: white;
border-width: 3 px;
border-style: solid;border-style: solid;

}